/*
#e7e113 (amarelo)
#000000 (preto)
#242a2f (cinza claro)
#2a2b39 (o cinza mais claro da paleta)
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 108%;
    text-align: justify;
}


body {
    background-color: #111112;
    color: floralwhite;
}

header {
    background-color: #2a2b39;
    padding: 30px;
    width: 100%;
    top: 0%;
    position: sticky;
    z-index: 1000;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: #e7e113;
    font-family: "Notable", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    color: #bdb831;
    text-align: left;
    font-family: "Notable", sans-serif;
    font-weight: 300;
    font-style: normal;
}

ul {
    margin-left: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin-left: 20px;
    font-size: large;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    display: flex;
    max-width: 90px;
}

.logo a {
    text-decoration: none;
    color: whitesmoke;
    transition: ease-in-out 0.2s;
}

.logo:hover {
    transition: ease-in-out 0.2s;
    transform: scale(104%);
    cursor: pointer;
}

a:hover {
    color: #e7e113;
}

#sobre {
    padding: 1.3em;
}

#sobre .sobre-container .sobre-texto p {
    margin-bottom: 40px;
}

#compositores {
    margin-left: 15px;
    margin-right: 15px;
}

#curiosidades {
    padding-right: 1.3em;
    padding-top: 2em;
}

#albuns img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 350px;
    height: auto;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

.hex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 5%;
    margin-bottom: 65px;
}

.hex {
    flex-basis: 22%;
    text-align: center;
}

.hex:hover {
    transform: scale(0.98);
}

#albuns h1 {
    margin-bottom: 20px;
}

p {
    text-indent: 1.3em;
    font-size: 1em;
    margin-right: 3px;
    margin-left: 2px;
}

.banner {
    background: url(img/Banner.jpg) no-repeat center/cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.3em;
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 6.5px 4px 5px rgb(0, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
}

.banner2 {
    background: url(img/banner2.jpg) no-repeat center/cover;
    height: 600px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    font-family: "Holtwood One SC", serif;
    font-weight: 350;
    font-style: normal;
    text-shadow: 6.5px 4px 5px rgb(0, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
}

.banner2 p {
    text-indent: 0em;
}

section {
    scroll-margin-top: 100px;
}

#compositores .container {
    display: grid;
    /* Transforma o layout em uma grade (grid) */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /*Inclui um espaçamento entre as imagens*/
    margin-top: 1.3em;
    text-align: center;
}

#compositores .item {
    background-color: #32363a;
    font-size: 1em;
    border: 4px solid #888525;
    /*Coloca uma borda*/
    border-radius: 20px;
    /*arredonda as bordas*/
    padding: 20px;
    /*Cria um espaçamento entre a borda e o conteúdo*/
    box-shadow: 3px 4px 10px rgb(255, 255, 255);
    /*Cria uma sombra */
    transition: transform 0.8s ease-out, box-shadow 0.8s ease-in;
    /*faz uma transição ao passar o mouse por cima*/
    cursor: pointer;
    /*Transforma o mouse em ponteiro*/
}

#compositores .item:hover {
    transform: translateY(-5px);
    /*Levanta o card levemente*/
    box-shadow: 2px 4px 6px rgb(189, 189, 189, 0.2);
}

#compositores .item:active {
    transform: scale(0.98);
    /*Diminui minimamente o card ao clicar*/
    box-shadow: 0px 4px 6px rgb(189, 189, 189);
}

#compositores .item h3 {
    color: #888525;
    text-align: center;
    font-size: 1.6em;
    font-family: "Notable", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#compositores .item p {
    margin-top: 15px;
    font-size: 0.95em;
    color: floralwhite;
    margin-bottom: 1.8em;
}

#compositores .item img {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 4px 2px 10.6px 4px #6c757e;
}

#compositores .container h1 {
    grid-column: 1 / -1;
    margin-bottom: 20px;
}

.contato-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.664);
    display: none;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bdb831;
    color: aliceblue;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #888421;
    color: aliceblue;
    transform: scale(0.99);
}

.btn2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bdb831;
    color: aliceblue;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn2:hover {
    background-color: #888421;
    color: aliceblue;
    transform: scale(0.99);
}

.btn3 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bdb831;
    color: aliceblue;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn3:hover {
    background-color: #888421;
    color: aliceblue;
    transform: scale(0.99);
}

.modal:target {
    display: flex;
}

.modal-content {
    background-color: rgba(58, 58, 58, 0.815);
    padding: 30px;
    border-radius: 20px;
    margin-top: 100px;
    max-width: 700px;
    height: 500px;
    text-align: center;
    box-shadow: 3px 4px 10px rgb(99, 99, 99);
    color: black;
    overflow-y: auto;
}

.modal-content h3 {
    color: #888525;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-family: "Notable", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.modal-content p {
    color: rgb(221, 221, 220);
}

.close-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 8px 16px;
    background: rgb(223, 9, 9);
    color: aliceblue;
    border-radius: 8px;
    text-decoration: none;
}

.close-btn:hover {
    background: rgb(146, 16, 16);
    color: aliceblue;
    transform: scale(0.99);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.grid img {
    width: 85%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    border: #888421 3px solid;
    box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.616);
    transition: transform 0.8s ease-out, box-shadow 0.8s ease-in;
    margin: auto;
    margin-bottom: 25px;
}

.grid img:hover {
    transform: translateY(-5px);
}

.galeria {
    padding: 20px;
}

.container-form {
    display: flex;
    margin: auto;
    border-radius: 50px;
    padding: 40px;
    width: 1000px;
    justify-content: center;
    background-color: #2e303373;
    box-shadow: rgb(94, 95, 95) 4px 4px 25px 2px;
}

footer {
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.mensagem-container {
    margin-top: 7%;
}

#menagem {
    border-radius: 15px;
}

#botao {
    display: inline-block;
    padding: 10px 25px;
    background-color: #bdb831;
    color: aliceblue;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
}

#botao:hover {
    background-color: #888421;
    color: aliceblue;
    transform: scale(0.99);
}

.container-tabela {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

table,
td {
    padding: 10px;
    border: gray solid 1px;
}

thead {
    padding: 20px;
    background-image: linear-gradient(to bottom right, #bdb831, #888525);
    color: #111112;
    border: gray solid 1px;
}

@media (max-width:1300px) {
    .banner2 {
        background: url(img/banner2.jpg) no-repeat center/cover;
        height: 470px;
        font-size: 2.4em;
        font-weight: 300;
        font-style: normal;
        text-shadow: 6.5px 4px 5px rgb(0, 0, 0);
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width:850px) {
    header {
        padding: 20px;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 10px;
        flex-direction: column;
    }

    .hex {
        text-align: center;
        flex-basis: 90%;
    }

    .hex-grid {
        justify-content: center;
        gap: 30px;
    }

    section {
        scroll-margin-top: 200px;
    }

    h1 {
        text-align: center;
        font-size: 1.6em;
    }

    h2 {
        font-size: 0.78em;
        text-align: left;
    }

    h3 {
        font-size: 0.6em;
    }

    .modal-content {
        max-width: 450px;
        height: 400px;
        margin-top: 150px;
    }

    .modal-content h3 {
        color: #888525;
        font-size: 1.6em;
        margin-bottom: 0.5em;
        font-family: "Notable", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .modal-content p {
        color: rgb(221, 221, 220);
        font-size: 1.3em;
    }

    p {
        text-indent: 0.7em;
        font-size: 0.7em;
        margin-right: 2px;
        margin-left: 1px;
    }

    .banner {
        height: 470px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 1.2em;
        padding-left: 10px;
        padding-right: 10px;
    }

    #curiosidades ul {
        font-size: 0.7em;
    }

    #compositores .container {
        display: grid;
        /* Transforma o layout em uma grade (grid) */
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /*Inclui um espaçamento entre as imagens*/
        margin-top: 1.3em;
        text-align: center;
    }

    #compositores .item {
        font-size: 0.7em;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .grid img {
        width: 85%;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
        border: #888421 3px solid;
        box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.616);
        transition: transform 0.8s ease-out, box-shadow 0.8s ease-in;
        margin: auto;
        margin-bottom: 25px;
    }

    .grid img:hover {
        transform: translateY(-5px);
    }

    .galeria {
        padding: 20px;
    }

    #contato {
        padding: 15px;
    }
}

@media (max-width: 450px) {
    h1 {
        text-align: center;
        font-size: 1.2em;
    }

    #compositores .container {
        display: grid;
        /* Transforma o layout em uma grade (grid) */
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        /*Inclui um espaçamento entre as imagens*/
        margin-top: 1.3em;
        text-align: center;
    }

    .modal-content {
        max-width: 400px;
        font-size: 20px;
        margin-top: 250px;
    }
}

@media(max-width: 450px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .grid img {
        width: 85%;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
        border: #888421 3px solid;
        box-shadow: 3px 4px 10px rgba(255, 255, 255, 0.616);
        transition: transform 0.8s ease-out, box-shadow 0.8s ease-in;
        margin: auto;
        margin-bottom: 25px;
    }

    .grid img:hover {
        transform: translateY(-5px);
    }

    .galeria {
        padding: 20px;
    }
}

@media (max-width: 321px) {
    h1 {
        text-align: center;
        font-size: 1.1em;
    }

    h2 {
        font-size: 0.7em;
    }

    .modal-content {
        max-width: 300px;
        height: 400px;
        margin-top: 200px;
    }
}